[submodule "Vortex/vendor/spdlog"]
	path = Vortex/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "Vortex/vendor/GLFW"]
	path = Vortex/vendor/GLFW
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "Vortex/vendor/imgui"]
	path = Vortex/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
