[submodule "Vortex/vendor/spdlog"]
	path = Vortex/vendor/spdlog
	url = https://github.com/olleh-dlrow/spdlog.git
[submodule "Vortex/vendor/glm"]
	path = Vortex/vendor/glm
	url = https://github.com/olleh-dlrow/glm.git
[submodule "Vortex/vendor/glfw"]
	path = Vortex/vendor/glfw
	url = https://github.com/olleh-dlrow/glfw.git
[submodule "Vortex/vendor/imgui"]
	path = Vortex/vendor/imgui
	url = https://github.com/olleh-dlrow/imgui.git
[submodule "Vortex/vendor/eigen"]
	path = Vortex/vendor/eigen
	url = https://gitlab.com/olleh-dlrow/eigen.git
[submodule "Vortex/vendor/libigl"]
	path = Vortex/vendor/libigl
	url = https://github.com/olleh-dlrow/libigl.git
